body {
  background: rgb(21, 21, 21)

}

header {
  text-align: center;
  width: 300px;
  padding: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 14px;
  background-color: rgb(46, 48, 48);
  border-radius: 35px;
}

input {
  width: 310px;
}
.list-btn {
  border-radius: 14px;
  color:aliceblue;
  background-color: rgb(37, 37, 37);
}
.delete-btn {
  border-radius: 14px;
  color:aliceblue;
  background-color: crimson;
}
.buttons {
  display: flex;
  justify-content: space-around;
  padding: 4px;

}

.task-done {
  color:#959595;
  text-decoration: line-through;
  
}

.task-list {
  background-color: #4c4c4d;
  margin-top: 10px;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
}

.list-item {
  padding: 7px;
  height: fit-content;
}

.app {
  height: auto;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #ffffff;
  }

